body html{
    width:100%;
    padding:0px;
    margin:0px
}
div .container{
    margin-left:0px;
    padding-left:5px;
    width:100%;
}

.content{
    width:100%;
    margin-top:100px;
}

.plandetail{
    margin-top:100px;
}

.plancontent{
    margin-top:50px;
}
.planabout{
    text-align: center;
}
.aboutvideo{
    margin-bottom:25px;
}
.bestactivities{
    text-align: center;
}
.hidden {
    display:none;
}
.iternary{
    text-align: center;
}
.sightseeing{
    text-align:center;
    font-size: 14px;
}
.sightseeingtitle{
    margin-bottom:20px;
}

.sightseeingrow{
    margin-top:40px;
}
.sightseeingrow >.col-md-4:nth-child(3n+1){
    clear:left;
}
.budgetcost{
    text-align: center;
}
.planhowgothere{
    text-align: center;
}
.planairline{
    margin-top:30px;
}
.planhowgetaround{
    text-align: center;
}
.planhowgetaroundrow{
    margin-top:30px;
}
.planhowgetaroundrow >.col-md-4:nth-child(3n+1){
    clear:left;
}
.planwheretostay{
    text-align: center;
}
.planimportantinfo{
    text-align: center;
}
.input-search{
    line-height: 2em;
}
/*.sidebar-fixed-left{
    position:absolute;
    left:0px;
    margin-top:50px
}
.sidebar-nav-top{
    margin-top:50px;
    height:100vh;
}*/

.nav a{
    color: black !important;
    font-size: 1.0em !important;
}

.admin-home{
    margin-top:100px;
}
.glyphicon-5x{
    font-size:5em;
}
.huge{
    font-size:4em;
}
.country-home{
    margin-top: 100px;
}
.country-form{
    margin-top:20px;
}
.add-button{
    margin-top:10px;
}
.countries-table{
    margin-top:40px;
}
.country-info{
    margin-top: 100px;
}
.language-inline{
    display:inline;
}
.country-update-form{
    margin-top:100px;
}
.plan-home{
    margin-top:100px;
}
.plan-progress-bar{
    margin-top: 100px;
}
.plan-progress-bar p{
    display:inline-block;
    padding:15px;
    border-bottom: 4px solid lightgrey;
}
.border-bottom-green {
    border-bottom: 4px solid green !important;
}
.new-plan-about {
    margin-top:20px;
}
.new-plan-get-there{
    margin-top:20px;
}
.plan-update-home{
    margin-top: 100px;
}
.success-msg{
    color: green;
}
error-msg{
    color:red;
}
.plan-important-info{
    margin-top: 20px;
}
.update-plan-when-go{
    margin-top:20px;
}
.new-plan-budget-cost{
    margin-top:20px;
}
.plan-update-stay{
    margin-top:20px;
}
.get-around-option{
    margin-bottom:20px;
}
.new-plan-get-around{
    margin-top:20px;
}

.image-home{
    margin-top:100px;
}
.hashtag{
    margin-right:10px;
    padding:10px;
    background-color: gray;
}
.image-dropzone{
    margin-left:50px;
    margin-top:80px;
}
.image-list{
    margin-top:40px;
}
.user-sign-in{
    margin-top:100px;
}
.signin-err-msg{
    color:red;
}